.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}
.container > h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  border-bottom: 1.5px solid var(--primary-color);
  text-transform: uppercase;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}
.box > label {
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.box > input {
  display: none;
}
.images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.image {
  max-width: 390px;
  height: 220px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.image > img {
  width: 100%;
  height: 100%;
}
.name {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.delete {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: #000;
  color: var(--primary-color);
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
